" Examples: https://jb.gg/share-ideavimrc
" NOTE. ASCII Banner Font: ANSI Shadow

"    ██████╗ ██████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
"   ██╔═══██╗██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
"   ██║   ██║██████╔╝   ██║   ██║██║   ██║██╔██╗ ██║███████╗
"   ██║   ██║██╔═══╝    ██║   ██║██║   ██║██║╚██╗██║╚════██║
"   ╚██████╔╝██║        ██║   ██║╚██████╔╝██║ ╚████║███████║
"    ╚═════╝ ╚═╝        ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

set autoindent
set clipboard+=unnamed
set hlsearch
set ignorecase
set incsearch
set smartcase
set smartindent
set scrolloff=5

set noerrorbells
set visualbell

"   ██████╗ ██╗     ██╗   ██╗ ██████╗ ██╗███╗   ██╗███████╗
"   ██╔══██╗██║     ██║   ██║██╔════╝ ██║████╗  ██║██╔════╝
"   ██████╔╝██║     ██║   ██║██║  ███╗██║██╔██╗ ██║███████╗
"   ██╔═══╝ ██║     ██║   ██║██║   ██║██║██║╚██╗██║╚════██║
"   ██║     ███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║███████║
"   ╚═╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝╚══════╝

set NERDTree

set highlightedyank

let g:highlightedyank_highlight_duration = "100"
let g:highlightedyank_highlight_color = "rgba(64, 72, 89, 155)"

set which-key

set notimeout

let g:WhichKey_ShowVimActions = "true"
let g:WhichKey_FontFamily = "JetBrainsMono Nerd Font"
let g:WhichKey_FontSize = 18
let g:WhichKey_ShowTypedSequence = "false"
let g:WhichKey_KeyStyle = "bold"
let g:WhichKey_PrefixStyle = "italic"
let g:WhichKey_CommandStyle = "italic"

"   ███╗   ███╗ █████╗ ██████╗ ███████╗
"   ████╗ ████║██╔══██╗██╔══██╗██╔════╝
"   ██╔████╔██║███████║██████╔╝███████╗
"   ██║╚██╔╝██║██╔══██║██╔═══╝ ╚════██║
"   ██║ ╚═╝ ██║██║  ██║██║     ███████║
"   ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚══════╝

""" Map leader to space ---------------------

let mapleader=" "

map <leader>e :NERDTree<CR>

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

map <leader>/ <Action>(CommentByLineComment)

map <leader>h <Action>(SplitHorizontally)
map <leader>v <Action>(SplitVertically)

map <leader>u <action>(Unsplit)
map <leader>sp <Action>(ChangeSplitOrientation)

map <leader>z <Action>(ToggleZenMode)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██████╗ ██╗   ██╗███████╗███████╗███████╗██████╗ ███████╗       ██╗       ███████╗██████╗ ██╗████████╗ ██████╗ ██████╗ ███████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔══██╗██║   ██║██╔════╝██╔════╝██╔════╝██╔══██╗██╔════╝       ██║       ██╔════╝██╔══██╗██║╚══██╔══╝██╔═══██╗██╔══██╗██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██████╔╝██║   ██║█████╗  █████╗  █████╗  ██████╔╝███████╗    ████████╗    █████╗  ██║  ██║██║   ██║   ██║   ██║██████╔╝███████╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██╔══██╗██║   ██║██╔══╝  ██╔══╝  ██╔══╝  ██╔══██╗╚════██║    ██╔═██╔═╝    ██╔══╝  ██║  ██║██║   ██║   ██║   ██║██╔══██╗╚════██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██████╔╝╚██████╔╝██║     ██║     ███████╗██║  ██║███████║    ██████║      ███████╗██████╔╝██║   ██║   ╚██████╔╝██║  ██║███████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═════╝  ╚═════╝ ╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝    ╚═════╝      ╚══════╝╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝

map <leader>> <Action>(NextTab)
map <leader>< <Action>(PreviousTab)

map <leader>bh <Action>(MoveTabLeft)
map <leader>bj <Action>(MoveTabDown)
map <leader>bk <Action>(MoveTabUp)
map <leader>bl <Action>(MoveTabRight)

map <leader>bo <Action>(MoveEditorToOppositeTabGroup)

map <leader>bd <Action>(CloseEditor)
map <leader>ba <Action>(CloseAllEditors)
map <leader>bm <Action>(CloseAllEditorsButActive)

nmap <leader>bu <Action>(ReopenClosedTab)

map <leader>. <Action>(NextSplitter)
map <leader>, <Action>(PrevSplitter)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██████╗ ███████╗██████╗ ██╗   ██╗ ██████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔══██╗██╔════╝██╔══██╗██║   ██║██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║  ██║█████╗  ██████╔╝██║   ██║██║  ███╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║  ██║██╔══╝  ██╔══██╗██║   ██║██║   ██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██████╔╝███████╗██████╔╝╚██████╔╝╚██████╔╝
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═════╝ ╚══════╝╚═════╝  ╚═════╝  ╚═════╝

map <leader>dd <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(Debugger.RemoveAllBreakpointsInFile)
map <leader>dR <Action>(Debugger.RemoveAllBreakpoints)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOut)
map <leader>ds <Action>(StepOver)
map <leader>de <Action>(Debugger.EvaluationDialogPopup)
map <leader>dm <Action>(XDebugger.MuteBreakpoints)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗        ██████╗ ██╗████████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔════╝ ██║╚══██╔══╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║  ███╗██║   ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║   ██║██║   ██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ╚██████╔╝██║   ██║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝        ╚═════╝ ╚═╝   ╚═╝

map <leader>gB <Action>(EditorGutterVcsPopupMenu)
map <leader>gC <Action>(Git.CompareWithBranch)
map <leader>gF <Action>(Git.Pull)
map <leader>gH <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gR <Action>(Git.ResolveConflicts)
map <leader>gU <Action>(Vcs.RollbackChangedLines)
map <leader>ga <Action>(Git.Add)
map <leader>gb <Action>(Git.Branches)
map <leader>gc <Action>(ActivateCommitToolWindow)
map <leader>gd <Action>(GitDeleteBranchAction)
map <leader>gf <Action>(Git.Fetch)
map <leader>gh <Action>(ActivateVersionControlToolWindow)
map <leader>gi <Action>(Git.Init)
map <leader>gm <Action>(Git.Merge)
map <leader>gn <Action>(Git.CreateNewBranch)
map <leader>gp <Action>(Vcs.PushUpToCommit)
map <leader>gr <Action>(Git.Reset)
map <leader>gs <Action>(Git.Stash)
map <leader>gu <Action>(Git.Unstash)
map <leader>gy <Action>(VcsShowCurrentChangeMarker)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██╗███╗   ██╗████████╗██████╗  ██████╗ ██████╗ ██╗   ██╗ ██████╗███████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗██╔══██╗██║   ██║██╔════╝██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██║  ██║██║   ██║██║     █████╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║  ██║██║   ██║██║     ██╔══╝
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝██████╔╝╚██████╔╝╚██████╗███████╗
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═════╝  ╚═════╝  ╚═════╝╚══════╝

map <leader>ic <Action>(IntroduceConstant)
map <leader>if <Action>(IntroduceField)
map <leader>ip <Action>(IntroduceParameter)
map <leader>iP <Action>(IntroduceParameterObject)
map <leader>iv <Action>(IntroduceVariable)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ███╗   ███╗ █████╗ ██╗   ██╗███████╗███╗   ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ████╗ ████║██╔══██╗██║   ██║██╔════╝████╗  ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██╔████╔██║███████║██║   ██║█████╗  ██╔██╗ ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║╚██╔╝██║██╔══██║╚██╗ ██╔╝██╔══╝  ██║╚██╗██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██║ ╚═╝ ██║██║  ██║ ╚████╔╝ ███████╗██║ ╚████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═╝     ╚═╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝

map <leader>Ja <Action>(Maven.DownloadAllSources)
map <leader>Jc <Action>(GenerateConstructor)
map <leader>Jd <Action>(QuickJavaDoc)
map <leader>Jr <Action>(Maven.RunBuild)
map <leader>Jg <Action>(GenerateGetter)
map <leader>Jm <Action>(GenerateGetterAndSetter)
map <leader>Js <Action>(GenerateSetter)
map <leader>Jx <Action>(Generate)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ███╗   ███╗ █████╗ ██████╗ ██╗  ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ████╗ ████║██╔══██╗██╔══██╗██║ ██╔╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██╔████╔██║███████║██████╔╝█████╔╝
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║╚██╔╝██║██╔══██║██╔══██╗██╔═██╗
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██║ ╚═╝ ██║██║  ██║██║  ██║██║  ██╗
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝

map <leader>mj <Action>(GotoNextBookmark)
map <leader>mk <Action>(GotoPreviousBookmark)
map <leader>ms <Action>(ShowBookmarks)
map <leader>mt <Action>(ToggleBookmark)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██╗     ███████╗██████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██║     ██╔════╝██╔══██╗
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║     ███████╗██████╔╝
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║     ╚════██║██╔═══╝
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ███████╗███████║██║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚══════╝╚══════╝╚═╝

map <leader>l; <Action>(RenameElement)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lc <Action>(OptimizeImports)
map <leader>ld <Action>(QuickDefinition)
map <leader>le <Action>(ShowErrorDescription)
map <leader>lf <Action>(RenameFile)
map <leader>lh <Action>(HighlightUsagesInFile)
map <leader>li <Action>(ImplementMethods)
map <leader>lj <Action>(MoveStatementDown)
map <leader>lk <Action>(MoveStatementUp)
map <leader>lo <Action>(OverrideMethods)
map <leader>lp <Action>(QuickPreview)
map <leader>lr <Action>(ReformatCode)
map <leader>lt <Action>(QuickTypeDefinition)
map <leader>lu <Action>(ShowUsages)

map <leader>pa <Action>(GotoAction)
map <leader>pc <Action>(GotoClass)
map <leader>pd <Action>(GotoDeclaration)
map <leader>pf <Action>(GotoFile)
map <leader>pi <Action>(GotoImplementation)
map <leader>ps <Action>(GotoSymbol)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗        ██████╗ ██████╗ ███████╗███╗   ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔═══██╗██╔══██╗██╔════╝████╗  ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║   ██║██████╔╝█████╗  ██╔██╗ ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║   ██║██╔═══╝ ██╔══╝  ██║╚██╗██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ╚██████╔╝██║     ███████╗██║ ╚████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝        ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═══╝

map <leader>o <Action>(OpenFile)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██████╗ ██╗   ██╗███╗   ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔══██╗██║   ██║████╗  ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██████╔╝██║   ██║██╔██╗ ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██╔══██╗██║   ██║██║╚██╗██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ██║  ██║╚██████╔╝██║ ╚████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝

map <leader>rr <Action>(Run)
map <leader>rs <Action>(Stop)
map <Leader>rn <Action>(NavBarToolBar)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ███████╗███████╗ █████╗ ██████╗  ██████╗██╗  ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║  ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ███████╗█████╗  ███████║██████╔╝██║     ███████║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ╚════██║██╔══╝  ██╔══██║██╔══██╗██║     ██╔══██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ███████║███████╗██║  ██║██║  ██║╚██████╗██║  ██║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝

map <leader>se <Action>(SearchEverywhere)
map <leader>sf <Action>(Find)
map <leader>sp <Action>(FindInPath)
map <leader>su <Action>(FindUsages)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ███████╗██╗  ██╗ ██████╗ ██╗    ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██╔════╝██║  ██║██╔═══██╗██║    ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ███████╗███████║██║   ██║██║ █╗ ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ╚════██║██╔══██║██║   ██║██║███╗██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ███████║██║  ██║╚██████╔╝╚███╔███╔╝
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝       ╚══════╝╚═╝  ╚═╝ ╚═════╝  ╚══╝╚══╝

map <leader>ws <Action>(ShowSettings)
map <leader>wp <Action>(ShowProjectStructureSettings)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ████████╗ ██████╗  ██████╗ ██╗     ███████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ╚══██╔══╝██╔═══██╗██╔═══██╗██║     ██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝       ██║   ██║   ██║██║   ██║██║     ███████╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗       ██║   ██║   ██║██║   ██║██║     ╚════██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝       ██║   ╚██████╔╝╚██████╔╝███████╗███████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝          ╚═╝    ╚═════╝  ╚═════╝ ╚══════╝╚══════╝

map <Leader>wc <Action>(ChooseRunConfiguration)
map <leader>wd <Action>(ActivateDebugToolWindow)
map <leader>wr <Action>(ActivateRunToolWindow)
map <Leader>wt <Action>(ActivateUnitTestsToolWindow)
map <leader>wT <Action>(NavbarPopupMenu)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██╗   ██╗██╗    ████████╗ ██████╗  ██████╗  ██████╗ ██╗     ███████╗███████╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██║   ██║██║    ╚══██╔══╝██╔═══██╗██╔════╝ ██╔════╝ ██║     ██╔════╝██╔════╝
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║   ██║██║       ██║   ██║   ██║██║  ███╗██║  ███╗██║     █████╗  ███████╗
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║   ██║██║       ██║   ██║   ██║██║   ██║██║   ██║██║     ██╔══╝  ╚════██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ╚██████╔╝██║       ██║   ╚██████╔╝╚██████╔╝╚██████╔╝███████╗███████╗███████║
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝        ╚═════╝ ╚═╝       ╚═╝    ╚═════╝  ╚═════╝  ╚═════╝ ╚══════╝╚══════╝╚══════╝

map <leader>uc <Action>(ChangeColorScheme)
map <leader>ue <Action>(ViewToolButtons)
map <leader>us <Action>(ViewStatusBar)

"   ██╗██████╗ ███████╗ █████╗      █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗       ██╗    ██╗██╗███╗   ██╗██████╗  ██████╗ ██╗    ██╗
"   ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝██╗    ██║    ██║██║████╗  ██║██╔══██╗██╔═══██╗██║    ██║
"   ██║██║  ██║█████╗  ███████║    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗╚═╝    ██║ █╗ ██║██║██╔██╗ ██║██║  ██║██║   ██║██║ █╗ ██║
"   ██║██║  ██║██╔══╝  ██╔══██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║██╗    ██║███╗██║██║██║╚██╗██║██║  ██║██║   ██║██║███╗██║
"   ██║██████╔╝███████╗██║  ██║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║╚═╝    ╚███╔███╔╝██║██║ ╚████║██████╔╝╚██████╔╝╚███╔███╔╝
"   ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝        ╚══╝╚══╝ ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝  ╚══╝╚══╝

map <leader>t <Action>(TabList)

" Source: https://github.com/TheBlob42/idea-which-key

"   ██╗    ██╗██╗  ██╗██╗ ██████╗██╗  ██╗    ██╗  ██╗███████╗██╗   ██╗
"   ██║    ██║██║  ██║██║██╔════╝██║  ██║    ██║ ██╔╝██╔════╝╚██╗ ██╔╝
"   ██║ █╗ ██║███████║██║██║     ███████║    █████╔╝ █████╗   ╚████╔╝
"   ██║███╗██║██╔══██║██║██║     ██╔══██║    ██╔═██╗ ██╔══╝    ╚██╔╝
"   ╚███╔███╔╝██║  ██║██║╚██████╗██║  ██║    ██║  ██╗███████╗   ██║
"    ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═╝  ╚═╝╚══════╝   ╚═╝

"" Descriptions ---------------------

let g:WhichKeyDesc_leader = "<leader> Leader"

let g:WhichKeyDesc_comment_by_line_comment = "<leader>/ Comment"

let g:WhichKeyDesc_java = "<leader>J Java"
let g:WhichKeyDesc_maven_download_all_sources = "<leader>Ja Maven Download All Sources"
let g:WhichKeyDesc_generate_constructor = "<leader>Jc Generate Constructor"
let g:WhichKeyDesc_maven_download_run_build = "<leader>Jr Maven Run Build"
let g:WhichKeyDesc_quick_javadoc = "<leader>Jd Quick Javadoc"
let g:WhichKeyDesc_generate_getter = "<leader>Jg Generate Getters"
let g:WhichKeyDesc_generate_getter_and_setter = "<leader>Jm Generate Getters And Setters"
let g:WhichKeyDesc_generate_setter = "<leader>Js Generate Setters"
let g:WhichKeyDesc_generate = "<leader>Jx Generate"

let g:WhichKeyDesc_buffers_editors = "<leader>b Buffers & Editors"
let g:WhichKeyDesc_next_splitter = "<leader>. Next Splitter"
let g:WhichKeyDesc_prev_splitter = "<leader>, Prev Splitter"
let g:WhichKeyDesc_next_tab = "<leader>> Next Tab"
let g:WhichKeyDesc_prev_tab = "<leader>< Prev Tab"
let g:WhichKeyDesc_move_tab_left = "<leader>bh Move Tab Into Left Group"
let g:WhichKeyDesc_move_tab_down = "<leader>bj Move Tab Into Below Group"
let g:WhichKeyDesc_move_tab_up = "<leader>bk Move Tab Into Above Group"
let g:WhichKeyDesc_move_tab_right = "<leader>bl Move Tab Into Right Group"
let g:WhichKeyDesc_close_all_editors = "<leader>ba Close All Editors"
let g:WhichKeyDesc_close_editor = "<leader>bd Close Active Editor"
let g:WhichKeyDesc_close_all_editors_but_active = "<leader>bm Close Others Editors"
let g:WhichKeyDesc_move_editor_to_opposite_tab_group = "<leader>bo Move Editor To Opposite Tab Group"
let g:WhichKeyDesc_reopen_closed_tab = "<leader>bu Reopen Closed Editor"

let g:WhichKeyDesc_debug = "<leader>d Debug"
let g:WhichKeyDesc_remove_all_breakpoints = "<leader>dR Remove All Breakpoints"
let g:WhichKeyDesc_toggle_line_breakpoint = "<leader>db Toggle Line Breakpoints"
let g:WhichKeyDesc_run_debug = "<leader>dd Start Debug"
let g:WhichKeyDesc_evaluation_dialog_popup = "<leader>de Evaluation Dialog Popup"
let g:WhichKeyDesc_step_into = "<leader>di Step Into"
let g:WhichKeyDesc_mute_all_breakpoints = "<leader>dm Mute All Breakpoints"
let g:WhichKeyDesc_step_out = "<leader>do Step Out"
let g:WhichKeyDesc_remove_all_breakpoints_in_file = "<leader>dr Remove All Breakpoints In File"
let g:WhichKeyDesc_step_over = "<leader>ds Step Over"

let g:WhichKeyDesc_git = "<leader>g Git"
let g:WhichKeyDesc_editor_gutter_vcs_popup_menu = "<leader>gB Git Blame"
let g:WhichKeyDesc_git_compare_with_branch = "<leader>gC Compare With Branch"
let g:WhichKeyDesc_git_pull = "<leader>gF Pull"
let g:WhichKeyDesc_vcs_show_tabbed_file_history = "<leader>gH File History"
let g:WhichKeyDesc_git_resolve_conflicts = "<leader>gR Resolve Conflicts"
let g:WhichKeyDesc_vcs_rollback_changed_lines = "<leader>gU Rollback Changed Line"
let g:WhichKeyDesc_git_add = "<leader>ga Add"
let g:WhichKeyDesc_git_branches = "<leader>gb Checkout"
let g:WhichKeyDesc_activate_commit_tool_window = "<leader>gc Commit"
let g:WhichKeyDesc_git_delete_branch_action = "<leader>gd Delete Branch"
let g:WhichKeyDesc_git_fetch = "<leader>gf Fetch"
let g:WhichKeyDesc_activate_version_control_tool_window = "<leader>gh History"
let g:WhichKeyDesc_git_init = "<leader>gi Init"
let g:WhichKeyDesc_git_merge = "<leader>gm Merge"
let g:WhichKeyDesc_git_create_new_branch = "<leader>gn Create New Branch"
let g:WhichKeyDesc_git_push_up_to_commit = "<leader>gp Push"
let g:WhichKeyDesc_git_reset = "<leader>gr Reset"
let g:WhichKeyDesc_git_stash = "<leader>gs Stash"
let g:WhichKeyDesc_git_unstash = "<leader>gu Unstash"
let g:WhichKeyDesc_vcs_show_current_change_marker = "<leader>gy Show Current Change In Line"

let g:WhichKeyDesc_toggle_explorer = "<leader>e Toggle Explorer"

let g:WhichKeyDesc_split_horizontally = "<leader>h Split Horizontally"

let g:WhichKeyDesc_introduce = "<leader>i Introduce"
let g:WhichKeyDesc_introduce_parameter_object = "<leader>iP Parameter Object"
let g:WhichKeyDesc_introduce_constant = "<leader>ic Constant"
let g:WhichKeyDesc_introduce_field = "<leader>if Field"
let g:WhichKeyDesc_introduce_parameter = "<leader>ip Parameter"
let g:WhichKeyDesc_introduce_variable = "<leader>iv Variable"

let g:WhichKeyDesc_lsp = "<leader>l LSP"
let g:WhichKeyDesc_rename_element = "<leader>l; Rename Element"
let g:WhichKeyDesc_show_intention_actions = "<leader>la Intention Actions"
let g:WhichKeyDesc_optimize_imports = "<leader>lc Optimize Imports"
let g:WhichKeyDesc_quick_definition = "<leader>ld Definition"
let g:WhichKeyDesc_show_error_description = "<leader>le Error Description"
let g:WhichKeyDesc_rename_file = "<leader>lf Rename File"
let g:WhichKeyDesc_highlight_usages_in_file = "<leader>lh Highlight Usages In File"
let g:WhichKeyDesc_implement_methods = "<leader>li Implement Methods"
let g:WhichKeyDesc_move_statement_down = "<leader>lj Move Statement Down"
let g:WhichKeyDesc_move_statement_up = "<leader>lk Move Statement Up"
let g:WhichKeyDesc_override_methods = "<leader>lo Override Methods"
let g:WhichKeyDesc_quick_preview = "<leader>lp Preview"
let g:WhichKeyDesc_reformat_code = "<leader>lr Refactor"
let g:WhichKeyDesc_quick_type_definition = "<leader>lt Type Definition"
let g:WhichKeyDesc_show_usages = "<leader>lu Usage"

let g:WhichKeyDesc_mark = "<leader>m Mark"
let g:WhichKeyDesc_goto_next_bookmark = "<leader>mj Next Bookmark"
let g:WhichKeyDesc_goto_previous_bookmark = "<leader>mk Prev Bookmark"
let g:WhichKeyDesc_show_bookmark = "<leader>ms Show Bookmarks"
let g:WhichKeyDesc_toggle_bookmark = "<leader>mt Toggle Bookmark"

let g:WhichKeyDesc_open = "<leader>o Open"

let g:WhichKeyDesc_peek = "<leader>p Peek"
let g:WhichKeyDesc_goto_action = "<leader>pa Action"
let g:WhichKeyDesc_goto_class = "<leader>pc Class"
let g:WhichKeyDesc_goto_declaration = "<leader>pd Declaration"
let g:WhichKeyDesc_goto_file = "<leader>pf File"
let g:WhichKeyDesc_goto_implementation = "<leader>pi Implementation"
let g:WhichKeyDesc_goto_symbol = "<leader>ps Symbol"

let g:WhichKeyDesc_run_options = "<leader>r Run"
let g:WhichKeyDesc_run = "<leader>rr Run"
let g:WhichKeyDesc_stop = "<leader>rs Stop"
let g:WhichKeyDesc_navbar_tool_bar = "<leader>rn NavBar Tool"

let g:WhichKeyDesc_search = "<leader>s Search"
let g:WhichKeyDesc_search_everywhere = "<leader>se Everywhere"
let g:WhichKeyDesc_find = "<leader>sf In File"
let g:WhichKeyDesc_find_in_path = "<leader>sp In Path"
let g:WhichKeyDesc_find_usages = "<leader>su Usages"

let g:WhichKeyDesc_tab_list = "<leader>t Tab List"

let g:WhichKeyDesc_ui_toggles = "<leader>u UI Toggles"
let g:WhichKeyDesc_change_color_schema = "<leader>uc Select Theme"
let g:WhichKeyDesc_view_tool_buttons = "<leader>ue Toggle Tool Buttons"
let g:WhichKeyDesc_view_status_bar = "<leader>us Toggle Status Bar"

let g:WhichKeyDesc_split_vertically = "<leader>v Split Vertically"

let g:WhichKeyDesc_window = "<leader>w Window"
let g:WhichKeyDesc_navbar_popup_menu = "<leader>wT NavBar Menu"
let g:WhichKeyDesc_choose_run_configuration = "<leader>wc Run Configuration"
let g:WhichKeyDesc_activate_debug_tool_window = "<leader>wd Debug"
let g:WhichKeyDesc_show_project_structure_settings = "<leader>wp Project Structure Settings"
let g:WhichKeyDesc_activate_run_tool_window = "<leader>wr Run"
let g:WhichKeyDesc_show_settings = "<leader>ws Settings"
let g:WhichKeyDesc_activate_unit_tests_tool_window = "<leader>wt Unit Tests"

let g:WhichKeyDesc_zen_mode = "<leader>z Zen Mode"
